<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbUserAuthMapper">
    <update id="updateFailCNT">
        UPDATE
            c_user_auth
        <set>
            fail_cnt = ${fail_cnt}+1
        </set>
        WHERE
            user_id = #{user_id}
    </update>
</mapper>