<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TbUserMapper">
    <select id="selectLogin">
        SELECT user_id, user_login_id, user_pw, fail_cnt
        FROM public.vw_c_user_login
        WHERE 1=1 
        AND user_login_id = #{user_login_id}
        
    </select>

    <select id="selectSession">
        SELECT *
        FROM public.vw_c_user_session
        WHERE 1=1 
        AND user_id = #{user_id}
        
    </select>

    <insert id="signUp">
        INSERT INTO c_user
        VALUES
        (
            #{user_id},
            #{user_group_id},
            #{area_id},
            #{user_login_id},
            #{user_name},
            #{user_pw},
            #{user_dv_cd},
            #{user_status_cd},
            #{user_email},
            #{user_phone},
            #{user_addr},
            #{user_origin_id},
            #{rmk},
            #{reg_id},
            #{reg_date}
        )
    </insert>
</mapper>